<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    
    <title>{% block title %}{% endblock %}</title>
    
    <!-- Fonts -->
    <link href="../static/fontawesome/css/fontawesome.min.css" rel="stylesheet" />
    <link href="../static/fontawesome/css/solid.min.css" rel="stylesheet" />
    <link href="../static/fontawesome/css/brands.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Aladin&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Cairo&display=swap" rel="stylesheet">
    <!--  -->

    <!-- CSS -->
    {% if USE_CUSTOM_BOOTSTRAP %}
    {% else %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% endif %}
    <style>
      * {
        font-family: 'Cairo', sans-serif;
        font-size: large;
      }
      .mid {
        min-width: 400px;
        max-width: 1000px;
        padding: 15px;
        margin: auto;
        margin-top: 0.5%;
        text-align: center;
      }
      .completed-task {
        text-decoration: line-through;
      }
      .panel {
        padding: 20px;
      }
      .btn:focus,
      .btn:active {
        outline: none !important;
        box-shadow: none;
      }
      .navbar-custom {
        background-color: white;
        border-bottom: 1px solid #EFEFEF;
        color: goldenrod;
      }
      .custom-color {
        color: goldenrod;
      }
      .card-img-top {
        width: 100%;
        height: 15vw;
        object-fit: cover;
      }
    </style>
    {% block links %}{% endblock %}
    {% block styles %}{% endblock %}
    <!--  -->

  </head>
  <body>
    {% if USE_CUSTOM_NAV %}
    {% else %}
    <nav class="navbar sticky-top navbar-custom navbar-expand-sm">
      <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
          <a class="nav-link" href="/">
            <span style="font-size: 1.4rem;">
              <span class="custom-color">
                <i class="fas fa-fire"></i>
              </span>
            </span>
          </a>
          {% for navlink in navlinks %}
            <a class="nav-link custom-color {{ navlink.class }}" href="{{ navlink.link }}">
              {{ navlink.name }}
            </a>
          {% endfor %}
        </div>
      </form>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span style="font-size: 1.4rem;">
          <span class="custom-color">
            <i class="fas fa-bars"></i>
          </span>
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav mr-auto">
        </ul>
        <form class="form-inline">
          <div class="form-group mx-sm-3 mb-2">
            <a class="nav-link custom-color" href="#" data-toggle="modal" data-target="#create-artist-modal" data-whatever="artist">
              Artist <i class="fas fa-plus-circle"></i>
            </a>
            <a class="nav-link custom-color" href="#" data-toggle="modal" data-target="#create-venue-modal" data-whatever="venue">
              Venue <i class="fas fa-plus-circle"></i>
            </a>
            <a class="nav-link custom-color" href="#" data-toggle="modal" data-target="#create-show-modal" data-whatever="show">
              Show <i class="fas fa-plus-circle"></i>
            </a>
          </div>
        </form>
      </div>
    </nav>
    <!-- Create a new artist -->
    <div class="modal fade" id="create-artist-modal" tabindex="-1" role="dialog" aria-labelledby="create-artist-modal-label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="create-artist-modal-label">List a new artist</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <input type="text" class="form-control" id="create-artist-modal-name" name="name" placeholder="Name">
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" id="create-artist-modal-city" name="city" placeholder="City">
                </div>
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" id="create-artist-modal-state" name="state" placeholder="State">
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="create-artist-modal-phone" name="phone" placeholder="Phone">
              </div>
              <div class="form-group">
                <small class="text-warning">Ctrl+Click to select multiple</small>
                <select multiple class="form-control" id="create-artist-modal-genres" name="genres">
                  <option>Rock</option>
                  <option>Alternative</option>
                  <option>Pop</option>
                  <option>Rap</option>
                  <option>R&B</option>
                </select>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="create-artist-modal-facebookLink" name="facebook_link" placeholder="Facebook Link">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="createArtist()">Create</button>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <!-- Create a new Venue -->
    <div class="modal fade" id="create-venue-modal" tabindex="-1" role="dialog" aria-labelledby="create-venue-modal-label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="create-venue-modal-label">List a new venue</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <input type="text" class="form-control" id="create-venue-modal-name" name="name" placeholder="Name">
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" id="create-venue-modal-city" name="city" placeholder="City">
                </div>
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" id="create-venue-modal-state" name="state" placeholder="State">
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="create-venue-modal-phone" name="phone" placeholder="Phone">
              </div>
              <div class="form-group">
                <small class="text-warning">Ctrl+Click to select multiple</small>
                <select multiple class="form-control" id="create-venue-modal-genres" name="genres">
                  <option>Rock</option>
                  <option>Alternative</option>
                  <option>Pop</option>
                  <option>Rap</option>
                  <option>R&B</option>
                </select>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="create-venue-modal-facebookLink" name="facebook_link" placeholder="Facebook Link">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="createVenue()">Create</button>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <!-- Create a new show -->
    <div class="modal fade" id="create-show-modal" tabindex="-1" role="dialog" aria-labelledby="create-show-modal-label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="create-show-modal-label">List a new show</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <small class="text-warning"><strong>Artist ID</strong> can be found on the artist's page</small>
                <input type="text" class="form-control" id="create-show-modal-artist-id" name="artist_id" placeholder="Artist ID">
              </div>
              <div class="form-group">
                <small class="text-warning"><strong>Venue ID</strong> can be found on the venue's page</small>
                <input type="text" class="form-control" id="create-show-modal-venue-id" name="venue_id" placeholder="Venue ID">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="create-show-modal-start_time" name="start_time" placeholder="Date of the show .. YYYY-MM-DD HH:MM:SS">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="createShow()">Create</button>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    {% endif %}

    {% block content %}{% endblock %}

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% if USE_CUSTOM_NAV %}
    {% else %}
    <script>
      // $('#create-artist-modal').on('show.bs.modal', function (event) {
      //   var button = $(event.relatedTarget) // Button that triggered the modal
      //   var recipient = button.data('whatever') // Extract info from data-* attributes
      //   // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      //   // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      //   // var modal = $(this)
      //   // modal.find('.modal-title').text('List a new artist')
      //   // modal.find('.modal-body input').val(recipient)
      // })
      // $('#create-venue-modal').on('show.bs.modal', function (event) {
      //   var button = $(event.relatedTarget) // Button that triggered the modal
      //   var recipient = button.data('whatever') // Extract info from data-* attributes
      //   // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      //   // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      //   var modal = $(this)
      //   modal.find('.modal-title').text('List a new venue')
      //   // modal.find('.modal-body input').val(recipient)
      // })
      // $('#create-show-modal').on('show.bs.modal', function (event) {
      //   var button = $(event.relatedTarget) // Button that triggered the modal
      //   var recipient = button.data('whatever') // Extract info from data-* attributes
      //   // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      //   // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      //   var modal = $(this)
      //   modal.find('.modal-title').text('List a new show')
      //   // modal.find('.modal-body input').val(recipient)
      // })

      function createArtist() {
        console.log("Creating artist with " + "name: " + $("#create-artist-modal-name").val() + "\n"
        + "city: " + $("#create-artist-modal-city").val() + "\n"
        + "state: " + $("#create-artist-modal-state").val() + "\n"
        + "phone: " + $("#create-artist-modal-phone").val() + "\n"
        + "genres: " + $("#create-artist-modal-genres").val() + "\n"
        + "facebook link: " + $("#create-artist-modal-facebookLink").val() + "\n");
        fetch('/artists/create', {
          method: 'POST',
          body: JSON.stringify({
            'name': $("#create-artist-modal-name").val(),
            'city': $("#create-artist-modal-city").val(),
            'state': $("#create-artist-modal-state").val(),
            'phone': $("#create-artist-modal-phone").val(),
            'genres': $("#create-artist-modal-genres").val(),
            'facebook_link': $("#create-artist-modal-facebookLink").val()
          }),
          headers: {
            'Content-Type': 'application/json'
          }
        });
      }

      function createVenue() {
        console.log("Creating venue with " + "name: " + $("#create-venue-modal-name").val() + "\n"
        + "city: " + $("#create-venue-modal-city").val() + "\n"
        + "state: " + $("#create-venue-modal-state").val() + "\n"
        + "phone: " + $("#create-venue-modal-phone").val() + "\n"
        + "genres: " + $("#create-venue-modal-genres").val() + "\n"
        + "facebook link: " + $("#create-venue-modal-facebookLink").val() + "\n");
        fetch('/venues/create', {
          method: 'POST',
          body: JSON.stringify({
            'name': $("#create-venue-modal-name").val(),
            'city': $("#create-venue-modal-city").val(),
            'state': $("#create-venue-modal-state").val(),
            'phone': $("#create-venue-modal-phone").val(),
            'genres': $("#create-venue-modal-genres").val(),
            'facebook_link': $("#create-venue-modal-facebookLink").val()
          }),
          headers: {
            'Content-Type': 'application/json'
          }
        });
      }

      function createShow() {
        console.log("Creating show with " + "artist id: " + $("#create-show-modal-artist-id").val() + "\n"
        + "venue id: " + $("#create-show-modal-venue-id").val() + "\n"
        + "start time: " + $("#create-show-modal-start_time").val() + "\n");
        fetch('/shows/create', {
          method: 'POST',
          body: JSON.stringify({
            'artist_id': $("#create-show-modal-artist-id").val(),
            'venue_id': $("#create-show-modal-venue-id").val(),
            'start_time': $("#create-show-modal-start_time").val(),
          }),
          headers: {
            'Content-Type': 'application/json'
          }
        });
      }
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    </script>
    {% endif %}
    {% block scripts %}{% endblock %}
    <!--  -->

  </body>
</html>
