{% set navlinks = [ { 'name': 'Venues', 'class': '', 'link': '/venues'}, {
'name': 'Artists', 'class': '', 'link': '/artists'}, { 'name': 'Shows', 'class':
'', 'link': '/shows'} ] %}
{% extends 'layouts/main.html' %}
{% block title %}Fyyur|Create Artist{% endblock %}
{% block content %}
<div class="container">
  <div style="margin-top: 5px; margin-bottom: 10px;">
    <div>
      <h3 style="text-align: left; margin-bottom: 30px;">
        ARTIST FORM
      </h3>
    </div>
    <form action="" method="POST">
      {{ form.hidden_tag() }}
      <div class="form-group">
        <label>Name <span class="text-danger">*</span> </label>
        {% if 'name' in form.errors %} {{ form.name(class_ = 'form-control is-invalid', autofocus = true) }}
        <div class="invalid-feedback">
          {{ form.errors['name'][0] }}
        </div>
        {% else %}
        {{ form.name(class_ = 'form-control', autofocus = true) }}
        {% endif %}
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label>City <span class="text-danger">*</span> </label>
          {% if 'city' in form.errors %}
          {{ form.city(class_ = 'form-control is-invalid', autofocus = true) }}
          <div class="invalid-feedback">
            {{ form.errors['city'][0] }}
          </div>
          {% else %}
          {{ form.city(class_ = 'form-control', autofocus = true) }}
          {% endif %}
        </div>
        <div class="form-group col-md-4">
          <label>State <span class="text-danger">*</span> </label>
          {% if 'state' in form.errors %}
          {{ form.state(class_ = 'form-control is-invalid', autofocus = true) }}
          <div class="invalid-feedback">
            {{ form.errors['state'][0] }}
          </div>
          {% else %}
          {{ form.state(class_ = 'form-control', autofocus = true) }}
          {% endif %}
        </div>
        <div class="form-group col-md-4">
          <label>Phone</label>
          {% if 'phone' in form.errors %}
          {{ form.phone(class_ = 'form-control is-invalid', autofocus = true) }}
          <div class="invalid-feedback">
            {{ form.errors['phone'][0] }}
          </div>
          {% else %}
          {{ form.phone(class_ = 'form-control', autofocus = true) }}
          {%endif %}
        </div>
      </div>
      <div class="form-group">
        <label>Genres <span class="text-danger">*</span> </label>
        <span style="display:inline-block; width:5px;"></span>
        <small class="text-warning">Ctrl+Click to select multiple</small>
        {% if 'genres' in form.errors %}
        {{ form.genres(class_ = 'form-control is-invalid', id=form.state, autofocus = true) }}
        <div class="invalid-feedback">
          {{ form.errors['genres'][0] }}
        </div>
        {% else %}
        {{ form.genres(class_ = 'form-control', id=form.state, autofocus = true) }}
        {% endif %}
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label>Facebook link</label>
          {% if 'facebook_link' in form.errors %}
          {{ form.facebook_link(class_ = 'form-control is-invalid', autofocus = true) }}
          <div class="invalid-feedback">
            {{ form.errors['facebook_link'][0] }}
          </div>
          {% else %}
          {{ form.facebook_link(class_ = 'form-control', autofocus = true) }}
          {% endif %}
        </div>
        <div class="form-group col-md-4">
          <label>Website link</label>
          {% if 'website' in form.errors %}
          {{ form.website(class_ = 'form-control is-invalid', autofocus = true) }}
          <div class="invalid-feedback">
            {{ form.errors['website'][0] }}
          </div>
          {% else %}
          {{ form.website(class_ = 'form-control', autofocus = true) }}
          {% endif %}
        </div>
        <div class="form-group col-md-4">
          <label>Image link</label>
          {% if 'image_link' in form.errors %}
          {{ form.image_link(class_ = 'form-control is-invalid', autofocus = true) }}
          <div class="invalid-feedback">
            {{ form.errors['image_link'][0] }}
          </div>
          {% else %}
          {{ form.image_link(class_ = 'form-control', autofocus = true) }}
          {% endif %}
        </div>
      </div>
      <div class="form-group">
        <input
          type="submit"
          value="Create a new artist"
          class="btn btn-primary btn-lg btn-block"
        />
      </div>
    </form>
  </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
