{% set navlinks = [ { 'name': 'Venues', 'class': '', 'link': '/venues'}, {
'name': 'Artists', 'class': '', 'link': '/artists'}, { 'name':
'Shows', 'class': '', 'link': '/shows'} ] %} {% extends 'layouts/main.html' %}
{% block title %}Create Artist{% endblock %} {% block content %}
<div class="container">
  <div class="mid">
    <div style="margin-top: 5px; margin-bottom: 10px;">
      <div>
        <h3 style="text-align: left; margin-bottom: 30px;">
            CREATE A NEW ARTIST
        </h3>
      </div>
      <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name(class_ = 'form-control', placeholder="Name", autofocus = true) }}
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            {{ form.city(class_ = 'form-control', placeholder="City", autofocus = true) }}
          </div>
          <div class="form-group col-md-6">
            {{ form.state(class_ = 'form-control', placeholder="State", autofocus = true) }}
          </div>
        </div>
        <div class="form-group" style="text-align: left;">
            {{ form.phone(class_ = 'form-control', placeholder="Phone", autofocus = true) }}
        </div>
        <div class="form-group" style="text-align: left;">
          <small class="text-warning">Ctrl+Click to select multiple</small>
          {{ form.genres(class_ = 'form-control', placeholder="Genres, separated by commas", id=form.state, autofocus = true) }}
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            {{ form.website(class_ = 'form-control', placeholder="website link", autofocus = true) }}
          </div>
          <div class="form-group col-md-6">
            {{ form.image_link(class_ = 'form-control', placeholder="image link", autofocus = true) }}
          </div>
        </div>
        <div class="form-group" style="text-align: left;">
            {{ form.facebook_link(class_ = 'form-control', placeholder="Facebook Link", autofocus = true) }}
        </div>
        <div class="form-group">
            <input type="submit" value="Create Artist" class="btn btn-primary btn-lg btn-block">
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %} {% endblock %}
