{% set navlinks = [ { 'name': 'Venues', 'class': '', 'link': '/venues'}, {
'name': 'Artists', 'class': '', 'link': '/artists'}, { 'name':
'Shows', 'class': '', 'link': '/shows'} ] %}
{% extends 'layouts/main.html' %}
{% block title %}Create Show{% endblock %}
{% block content %}
<div class="container">
  <div class="mid">
    <div style="margin-top: 5px; margin-bottom: 10px;">
      <div>
        <h3 style="text-align: left; margin-bottom: 30px;">
            CREATE A NEW SHOW
        </h3>
      </div>
      <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group" style="text-align: left;">
          <small class="text-warning">Artists IDs can be found in their profile pages</small>
          {{ form.artist_id(class_='form-control', placeholder="artist id", autofocus=true) }}
        </div>
        <div class="form-group" style="text-align: left;">
          <small class="text-warning">Venues IDs can be found in their profile pages</small>
          {{ form.venue_id(class_='form-control', placeholder="venue id", autofocus=true) }}
        </div>
        <div class="form-group" style="text-align: left;">
          <small class="text-warning">time format YYYY-MM-DD HH:MM:SS</small>
          {% for field in form.errors %}
          {% if field.name == start_time %}
          {% for error in form.errors[field] %}
          <br><small class="text-danger">{{error}}</small>
          {% endfor %}
          {% endif %}
          {% endfor %}
          {{ form.start_time(class_='form-control', placeholder="start time", autofocus=true) }}
        </div>
        <div class="form-group">
          <input type="submit" value="Create Show" class="btn btn-primary btn-lg btn-block" />
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
