{% set navlinks = [ { 'name': 'Venues', 'class': '', 'link': '/venues'}, {
'name': 'Artists', 'class': '', 'link': '/artists'}, { 'name': 'Shows', 'class':
'', 'link': '/shows'} ] %}
{% extends 'layouts/main.html' %}
{% block title %}Fyyur|{{ data.artist.name }}{% endblock %}
{% block styles %} {% endblock %}
{% block content %}
<div class="container">
  <div style="margin-top: 1%;">
    <div class="row">
      <div class="col-3">
        <img
          src="{{ data.artist.image_link }}"
          alt="..."
          class="card-img-top"
          style="padding-bottom: 20px;"
        />
        <h4>{{ data.artist.name }}</h4>
        <div type="button" class="btn btn-warning btn-sm">
          ID <span class="badge badge-light">{{ data.artist.id }}</span>
          <span class="sr-only">unread messages</span>
        </div>
        <div class="">
          {% for genre in data.artist.genres.split(',') %}
          <a href="#" class="badge badge-dark">{{ genre }}</a>
          {% endfor %}
        </div>
        <div class="">
          <span class="text-danger" style="font-size: 1.4rem;">
            <i class="fas fa-map-marker-alt"></i>
          </span>
          {% if data.artist.city != "" and data.artist.city != "None" %}
            {{ data.artist.city }},
          {% endif %}
          {% if data.artist.state != "" and data.artist.state != "None" %}
           {{ data.artist.state }}
          {% endif%}
        </div>
        {% if data.artist.phone != "" and data.artist.phone != "None" %}
        <div>
          <span class="text-dark" style="font-size: 1.4rem;">
            <i class="fas fa-phone-alt"></i>
          </span>
          {{ data.artist.phone }}
        </div>
        {% endif %}
        {% if data.artist.website != "" and data.artist.website != "None" %}
        <div>
          <span class="text-primary" style="font-size: 1.4rem;">
            <i class="fas fa-link"></i>
          </span>
          <a href="{{ data.artist.website }}">{{ data.artist.website[:25] }}</a>
        </div>
        {% endif %}
        {% if data.artist.facebook_link != "" and data.artist.facebook_link != "None" %}
        <div>
          <span class="text-primary" style="font-size: 1.4rem;">
            <i class="fab fa-facebook-square"></i>
          </span>
          <a href="{{ data.artist.facebook_link }}"
            >{{ data.artist.facebook_link[:25] }}</a
          >
        </div>
        {% endif %}
        {% if data.artist.seeking_venue_description != "" and data.artist.seeking_venue_description != "None" %}
        <a
          href="#"
          class="text-danger"
          data-toggle="tooltip"
          data-placement="top"
          title="{{ data.artist.seeking_venue_description }}"
        >
          seeking performance venues <i class="fas fa-exclamation-circle"></i>
        </a>
        {% endif %}
      </div>
      <div class="col-9">
        <h3>Upcoming Shows</h3>
        <div
          class="overflow-auto"
          style="padding-top: 20px; padding-bottom: 40px; margin-bottom: 15px;"
        >
          <div class="container-fluid">
            <div class="row flex-row flex-nowrap">
              {% set upcoming_shows_count = [] %}
              {% for show in data.shows %}
              {% if show.start_time|is_date_in_the_future() %}
              {% if upcoming_shows_count.append(1) %}{% endif %}
              <div class="col-5">
                <div class="card card-block">
                  <img
                    src="{{ show.venue.image_link }}"
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body">
                    <a href="/venues/{{ show.venue.id }}" class="card-title"
                      >{{ show.venue.name }}</a
                    >
                    <p class="card-text">
                      {{ show.start_time.strftime('%A %b %-d %Y at %-I:%M%p') }}
                    </p>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
              {% if upcoming_shows_count|length == 0 %}
              <div class="container">
                <small>There are currently no upcoming shows to display</small>
              </div>
              {% endif %}
            </div>
          </div>
        </div>

        <h3>Past Shows</h3>
        <div
          class="overflow-auto"
          style="padding-top: 20px; padding-bottom: 40px; margin-bottom: 15px;"
        >
          <div class="container-fluid">
            <div class="row flex-row flex-nowrap">
              {% set past_shows_count = [] %}
              {% for show in data.shows %}
              {% if show.start_time|is_date_in_the_past() %}
              {% if past_shows_count.append(1) %}{% endif %}
              <div class="col-5">
                <div class="card card-block">
                  <img
                    src="{{ show.venue.image_link }}"
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body">
                    <a href="/venues/{{ show.venue.id }}" class="card-title"
                      >{{ show.venue.name }}</a
                    >
                    <p class="card-text">
                      {{ show.start_time.strftime('%A %b %-d %Y at %-I:%M%p') }}
                    </p>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
              {% if past_shows_count|length == 0 %}
              <div class="container">
                <small>There are currently no past shows to display</small>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
