{% set navlinks = [ { 'name': 'Venues', 'class': '', 'link': '/venues'}, {
'name': 'Artists', 'class': 'text-primary', 'link': '/artists'}, { 'name':
'Shows', 'class': '', 'link': '/shows'} ] %}
{% extends 'layouts/main.html' %}
{% block title %}Artists{% endblock %} {% block content %}
<div class="container">
  <div class="mid">
    <form style="margin-top: 15px; margin-bottom: 50px;">
      <div class="form-group">
        <input type="search" class="form-control" style="outline: none !important; box-shadow: none;" id="searchText"  placeholder="Search">
        <h5 class="text-info" style="margin-top: 10px;">{{ data.artists|length }} artists</h5>
      </div>
    </form>
    <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1">
      {% for artist in data.artists|sort(attribute='name') %}
      <div class="col mb-4">
        <div class="card h-100">
          <img src="{{ artist.image_link }}" class="card-img-top" alt="..." />
          <div class="card-body">
            <a href="/artists/{{ artist.id }}" class="card-title"
              >{{ artist.name }}</a
            >
            <p class="card-text">
              Performed {{ artist.children|length }} shows
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
