{% set navlinks = [
  { 'name': 'Venues', 'class': '', 'link': '/venues'},
  { 'name': 'Artists', 'class': 'text-primary', 'link': '/artists'},
  { 'name': 'Shows', 'class': '', 'link': '/shows'}
]%}
{% extends 'layouts/main.html' %}
{% block title %}Fyyur{% endblock %}
{% block content %}
<div class="container">
  <div class="mid">
    <div class="card-deck">
      {% for artist in data.artists %}
      <div class="card">
        <img src={{ artist.image_link }} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ artist.name }}</h5>
          <p class="card-text"><small class="text-muted">Appeared in {{ artist.children|length }} shows</small></p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}