{% set navlinks = [ { 'name': 'Venues', 'class': '', 'link': '/venues'}, {
'name': 'Artists', 'class': '', 'link': '/artists'}, { 'name': 'Shows', 'class':
'text-primary', 'link': '/shows'} ]%}
{% extends 'layouts/main.html' %}
{% block title %}Fyyur|Shows{% endblock %}
{% block content %}
<div class="container py-4">
  <div class="mid py-4">
    <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 py-4">
      {% for show in data.shows|sort(attribute='start_time') %}
      <div class="col mb-4">
        <div class="card h-100">
          <img
            src="{{ show.artist.image_link }}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">
              {{ show.start_time.strftime('%A %b %-d %Y at %-I:%M%p') }}
            </h5>
            <p class="card-text">
              <a href="/artists/{{ show.artist.id }}">{{ show.artist.name }}</a> 
              <p>playing at</p>
              <a href="/venues/{{ show.venue.id }}">{{ show.venue.name }}</a> 
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
