{% set navlinks = [ { 'name': 'Venues', 'class': 'text-primary', 'link':
'/venues'}, { 'name': 'Artists', 'class': '', 'link': '/artists'}, { 'name':
'Shows', 'class': '', 'link': '/shows'} ]%}
{% extends 'layouts/main.html' %} 
{% block title %}Fyyur|Venues{% endblock %}
{% block content %}
<div class="container">
  <div class="mid">
      <form action="/venues" method="POST" id="searchForm" style="margin-top: 15px; margin-bottom: 50px;">
        <div class="form-group">
          <input type="search" class="form-control" style="outline: none !important; box-shadow: none;" id="searchText" name="searchQuery" value="{{ data.searchQuery }}" placeholder="Search">
          <h5 class="text-info" style="margin-top: 10px;">{{ data.venues|length }} venues</h5>
        </div>
      </form>
      {% set vars = {'last': ''} %}
      {% for venue_groups in data.venues %}
      <div class="container">
        {% if vars.last != venue_groups.city %}
        {% if vars.update({'last': venue_groups.city }) %} {% endif %}
        <div class="row">
          <h3 href="">{{ venue_groups.city }}, {{ venue_groups.state }}</h3>
        </div>
        {% endif %}
          <div class="container">
            <div class="mid">
              <span class="text-primary" style="padding: 10px;">
                <i class="fas fa-music"></i>
              </span>
              <a href="/venues/{{ venue_groups.id }}">{{ venue_groups.name }}</a>
            </div>
          </div>
      </div>
      {% endfor %}
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
  $("#searchText").on("keydown",function search(e) {
      if(e.keyCode == 13) {
          $("#searchForm").submit();
      }
  });
</script>
{% endblock %}