{% set navlinks = [ { 'name': 'Venues', 'class': 'text-primary', 'link':
'/venues'}, { 'name': 'Artists', 'class': '', 'link': '/artists'}, { 'name':
'Shows', 'class': '', 'link': '/shows'} ]%}
{% extends 'layouts/main.html' %} 
{% block title %}Venues{% endblock %}
{% block content %}
<div class="container">
  <div class="mid">
      <form action="/venues" method="POST" id="searchForm" style="margin-top: 15px; margin-bottom: 50px;">
        <div class="form-group">
          <input type="search" class="form-control" style="outline: none !important; box-shadow: none;" id="searchText" name="searchQuery" value="{{ data.searchQuery }}" placeholder="Search">
          <h5 class="text-info" style="margin-top: 10px;">{{ data.venues|length }} venues</h5>
        </div>
      </form>
      {% for city, city_group in data.venues|sort(attribute='city')|groupby('city') %}
      <div class="container">
        <div class="row">
          <h3 href="">{{ city }}</h3>
        </div>
        {% for venue in data.venues %}
          {% if venue.city == city %}
          <div class="container">
            <div class="mid">
              <span class="text-primary" style="padding: 10px;">
                <i class="fas fa-music"></i>
              </span>
              <a href="/venues/{{ venue.id }}">{{ venue.name }}</a>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      </div>
      {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  $("#searchText").on("keydown",function search(e) {
      if(e.keyCode == 13) {
          $("#searchForm").submit();
      }
  });
</script>
{% endblock %}